@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  background: url(../src/assets/project/rm218-bb-07.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body .blurDiv {
  width: 2200px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
  color: white;
}
